# Ignore open XLSX & CSV
~$**


# Personal Testing Or Directories to not Push to git
test/**
z-nogit**


# Environment Variables via Dot-Env Loads
**.env


# pypi
dist/**
**.egg-info


# Pycharm IDE
**/.DS_Store
**/.idea
.idea/**
.DS_Store/**
**/.pyc
__pycache__
_pycache_.pyc
__pycache__/
__pycache__/**


# Jupyter Notebooks
.ipynb_checkpoints
**/.ipynb_checkpoints
.ipynb_checkpoints/**


# Visual Studio Code specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-snippets


# Local history extension files
.history/


# Built-in VS Code workspace data
*.code-workspace